<!-- import header file -->
<%- include('../includes/header.ejs') %> 
    <!-- css files -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/error.css">
  </head>
  <body>
    <!-- import navigation file -->
    <%- include('../includes/navigation.ejs') %> 

    <main>
        <div class="login">
            <h1>Set New Password</h1>
            <% if (errorMsg) { %>
             <small style="color:tomato" class="errorMsg"><%= errorMsg %> </small>
            <% } %>
            <form action="/updatePassword" method="post">
                <<!-- <input type="hidden" name="_csrf" value="<%= //csrfToken %>"/> -->
                <input type="hidden" name="token" value="<%= token %>"/>
                <label>New Password</label>
                <input type="password" name="password"/>
                <label>Confirm Password</label>
                <input type="password" name="confirm_password"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    </main>

<!-- import footer file -->
<%- include('../includes/footer.ejs') %> 
